<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="5e77e9eb-fe0a-4826-b649-1564b39bb939" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">false</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
    <con:setting id="GeneratableJUnitReport@Style">Multiple Pages</con:setting>
    <con:setting id="GeneratableJUnitReport@Folder">C:\Users\RAKESH\Desktop\Temp</con:setting>
    <con:setting id="GeneratableAllureReport@Folder">C:\Users\RAKESH\Desktop\Temp</con:setting>
    <con:setting id="5e77e9eb-fe0a-4826-b649-1564b39bb939fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
